doctype html 
html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title} | Project 01
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       stylesheets 
    link(rel='stylesheet', type='text/css', href='css/compiled/theme.css')
    //
       javascript 
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='js/bootstrap/bootstrap.min.js')
    script(src='js/theme.js')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body#features
    // Navigation Normal 
    include partials/lp_navigation_normal
    //Content
    #tabs
      .container
        .row.header
          h3 Formats to showcase features
          p Choose your favorite formats for your own sites
        .row
          .col-md-12.tabs-wrapper
            ul.nav.nav-tabs
              li.active
                a(href='#home', data-toggle='tab') Upstart your development
              li
                a(href='#profile', data-toggle='tab') Get ready in half the time
              li
                a(href='#messages', data-toggle='tab') Collaborate with everyone
              li
                a(href='#settings', data-toggle='tab') Get more done faster
            .tab-content
              #home.tab-pane.fade.in.active
                .col-md-6.info
                  h4 You don't need to have any advanced technical
                  p
                    | Whether you want to fill this paragraph with some text like I'm doing right now, this place is perfect to describe some features or anything you want - React has a complete solution for you.
                  p
                    | You have complete control over the look & feel of your website, we offer the best quality so you take your site up and running in no time.
                .col-md-6.image
                  img.img-responsive(src='images/tabs/pic1.png', alt='picture1')
              #profile.tab-pane.fade
                .col-md-6.image
                  img.img-responsive(src='images/portfolioitem1.png', alt='picture2')
                .col-md-6.info
                  h4 You don't need to have any advanced technical
                  p
                    | Whether you want to fill this paragraph with some text like I'm doing right now, this place is perfect to describe some features or anything you want - React has a complete solution for you.
              #messages.tab-pane.fade
                .col-md-6.info
                  h4 You don't need to have any advanced technical
                  p
                    | Whether you want to fill this paragraph with some text like I'm doing right now, this place is perfect to describe some features or anything you want - React has a complete solution for you.
                  p
                    | You have complete control over the look & feel of your website, we offer the best quality so you take your site up and running in no time.
                .col-md-6.image
                  img.img-responsive(src='images/tabs/pic2.png', style='position: relative; top: 15px;', alt='picture3')
              #settings.tab-pane.fade
                .col-md-6.image
                  img.img-responsive(src='images/tabs/pic1.png', alt='picture4')
                .col-md-6.info
                  h4 You don't need to have any advanced technical
                  p
                    | Whether you want to fill this paragraph with some text like I'm doing right now, this place is perfect to describe some features or anything you want - React has a complete solution for you.
    #first-option
      .container
        .row.header
          .col-md-12
            h2 Need an easy way to customize your site?
            p React is perfect for novice developers and experts alike.
        .row.feature
          .col-md-6.info
            h4 You don't need to have great technical experience to use your product.
            p
              | Whether you want to fill this paragraph with some text like I'm doing right now, this place is perfect to describe some features or anything you want - React has a complete solution for you.
          .col-md-6.image
            img.img-responsive(src='images/feature1.png', alt='feature1')
        .row.feature.backwards
          .col-md-6.info
            h4 A fully featured well design template that works.
            p
              | You have complete control over the look & feel of your website, we offer the best quality so you take your site up and running in no time.
          .col-md-6.image
            img.img-responsive(src='images/feature2.png', alt='feature2')
        .row.feature.last
          .col-md-6.info
            h4 You don't need to have great technical experience to use your product.
            p
              | Whether you want to fill this paragraph with some text like I'm doing right now, this place is perfect to describe some features or anything you want - React has a complete solution for you.
          .col-md-6.image
            img.img-responsive(src='images/feature3.png', alt='feature3')
    #second-option
      .container
        .row
          .col-md-4.feature
            img(src='images/circle-icons/one-color/creditcard.png', alt='credit-card')
            strong Act locally, work globally
            p
              | You can work with international customers right out of the box while you can keep staying in your country.
          .col-md-4.feature
            img(src='images/circle-icons/one-color/dev.png', alt='dev')
            strong Act globally, work as usual
            p
              | With some customization you can make this product apply to your branding guidelines and amaze your customers at the same time.
          .col-md-4.feature
            img(src='images/circle-icons/one-color/globe.png', alt='globe')
            strong Develop once, run everywhere
            p
              | We don't impose any design restrictions, you are free to customize it as you see fit and it's easy to use.
        .row
          .col-md-4.feature
            img(src='images/circle-icons/one-color/support.png', alt='support')
            strong Act globally, work as usual
            p
              | We're always happy to offer support if you happen to have any doubts about anything, if you need
              | some new stuff contact us.
          .col-md-4.feature
            img(src='images/circle-icons/one-color/mail.png', alt='mail')
            strong Develop once, run everywhere
            p
              | We'll be adding some new stuff to make it even more awesome, if you have any idea please let us know.
          .col-md-4.feature
            img(src='images/circle-icons/one-color/locked.png', alt='locked')
            strong Act locally, work globally
            p
              | This thing will work on any device, it has a very easy to understand documentation and is made with SASS.
    #slider
      .container
        .row.header
          h3 Includes all pages that a complete theme should have
        .row
          .col-md-12.slide-wrapper
            .slideshow
              .btn-nav.prev
              .btn-nav.next
              .slide.active
                img(src='images/slider/slide3.png', alt='slide')
              .slide
                img(src='images/slider/slide4.png', alt='slide')
              .slide
                img(src='images/slider/slide1.png', alt='slide')
              .slide
                img(src='images/slider/slide5.png', alt='slide')
              .slide
                img(src='images/slider/slide2.png', alt='slide')
    #showcase
      .container
        .row.header
          h3 Showcasing some blog posts
        .row
          .col-md-12.pics
            a.pic(href='blogpost.html')
              img(src='images/blog1.png', alt='blog1')
              .bg
                p How to survive in the big city
            a.pic(href='blogpost.html')
              img(src='images/blog2.png', alt='blog2')
              .bg
                p How to develop scalable Rails apps
            a.pic(href='blogpost.html')
              img(src='images/blog3.png', alt='blog3')
              .bg
                p Enjoy your life at the beach
    //Footer Normal
    include partials/lp_footer_normal
