doctype html
html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title React - Bootstrap Theme
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       stylesheets 
    link(rel='stylesheet', type='text/css', href='css/compiled/theme.css')
    link(rel='stylesheet', type='text/css', href='css/vendor/brankic.css')
    //
       javascript 
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='js/bootstrap/bootstrap.min.js')
    script(src='js/theme.js')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body#pricing
    // Navigation Normal 
    include partials/lp_navigation_normal
    //Content
    #first-option
      .container
        .row.header
          .col-md-12
            h3 Different plans for everyone
            p Choose the pricing that fits your business needs
        .row.charts
          .col-md-4
            .chart.first
              .plan-name Freelance
              .quantity
                span.dollar $
                span.price 29
                span.period /month
              .specs
                .spec
                  span.variable 5
                  | team members
                .spec
                  span.variable Digital
                  | recurring billing
                .spec
                  span.variable Virtual
                  | online terminal
                .spec
                  span.variable 10
                  | total products
                .spec
                  span.variable 1.0%
                  | Transaction fee
              a.btn-signup.button-clear(href='signup.html')
                span Start free trial
          .col-md-4
            .chart.featured
              img.popular(src='images/ribbon.png', alt='ribbon')
              .plan-name Profesional
              .quantity
                span.dollar $
                span.price 79
                span.period /month
              .specs
                .spec
                  span.variable 15
                  | team members
                .spec
                  span.variable Digital
                  | recurring billing
                .spec
                  span.variable Virtual
                  | online terminal
                .spec
                  span.variable 15
                  | total products
                .spec
                  span.variable 0.5%
                  | Transaction fee
              a.btn-signup.button-clear(href='signup.html')
                span Start free trial
          .col-md-4
            .chart.last
              .plan-name Premium
              .quantity
                span.dollar $
                span.price 119
                span.period /month
              .specs
                .spec
                  span.variable Unlimited
                  | team members
                .spec
                  span.variable Digital
                  | recurring billing
                .spec
                  span.variable Virtual
                  | online terminal
                .spec
                  span.variable 25
                  | total products
                .spec
                  span.variable No
                  | Transaction fee
              a.btn-signup.button-clear(href='signup.html')
                span Start free trial
        .row.message
          p
            | All of our plans come with a 30 day trial with no credit card required, we also offer a
            a(href='signup.html') free plan
            | .
        .row.faq
          .col-md-12
            .row.header
              .col-md-12
                h3 Frequently Asked Questions
            .row.questions
              .col-md-6
                .question
                  strong Do I need a card to signup?
                  p
                    | There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
                .question
                  strong Can I cancel at anytime?
                  p
                    | There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
              .col-md-6
                .question
                  strong Can I cancel at anytime?
                  p
                    | There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
                .question
                  strong Do I need a card to signup?
                  p
                    | There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
        .row.contact
          .col-md-12
            .wrapper.clearfix
              h4
                span.brankic-phone2
                | Unsure which plan is best for you? You can call our sales team any day at
                strong 1-800-123-4567
    #second-option
      .container
        .row.header
          .col-md-12
            h3 Free trial. No contract. Cancel when you want.
            p All plans include a 7-day free trial
        .row.charts
          .col-md-4
            .chart.first
              .quantity
                span.dollar $
                span.price 29
                span.period /month
              .plan-name Freelance
              .specs
                .spec
                  span.variable 5
                  | team members
                .spec
                  span.variable Digital
                  | recurring billing
                .spec
                  span.variable Virtual
                  | online terminal
                .spec
                  span.variable 10
                  | total products
                .spec
                  span.variable 1.0%
                  | Transaction fee
              a.btn-signup.button-clear(href='signup.html')
                span Start free trial
          .col-md-4
            .chart.featured
              .popular Most popular
              .quantity
                span.dollar $
                span.price 79
                span.period /month
              .plan-name Profesional
              .specs
                .spec
                  span.variable 15
                  | team members
                .spec
                  span.variable Digital
                  | recurring billing
                .spec
                  span.variable Virtual
                  | online terminal
                .spec
                  span.variable 15
                  | total products
                .spec
                  span.variable 0.5%
                  | Transaction fee
              a.btn-signup.button-clear(href='signup.html')
                span Start free trial
          .col-md-4
            .chart.last
              .quantity
                span.dollar $
                span.price 119
                span.period /month
              .plan-name Premium
              .specs
                .spec
                  span.variable Unlimited
                  | team members
                .spec
                  span.variable Digital
                  | recurring billing
                .spec
                  span.variable Virtual
                  | online terminal
                .spec
                  span.variable 25
                  | total products
                .spec
                  span.variable No
                  | Transaction fee
              a.btn-signup.button-clear(href='signup.html')
                span Start free trial
    #third-option
      .container
        .row.header
          .col-md-12
            h3 Another format to show pricing
            p This one shows 4 plans that includes a pretty basic one
        .row.charts
          .col-md-12
            .chart.first
              .plan-name Freelance
              .quantity
                span.dollar $
                span.price 29
                span.period /month
              .specs
                .spec
                  span.variable 5
                  | team members
                .spec
                  span.variable Digital
                  | recurring billing
                .spec
                  span.variable Virtual
                  | online terminal
                .spec
                  span.variable 10
                  | total products
                .spec
                  span.variable 1.0%
                  | Transaction fee
              a.btn-signup.button-clear(href='signup.html')
                span Start free trial
            .chart.featured
              img.popular(src='images/ribbon.png', alt='ribbon')
              .plan-name Profesional
              .quantity
                span.dollar $
                span.price 79
                span.period /month
              .specs
                .spec
                  span.variable 15
                  | team members
                .spec
                  span.variable Digital
                  | recurring billing
                .spec
                  span.variable Virtual
                  | online terminal
                .spec
                  span.variable 15
                  | total products
                .spec
                  span.variable 0.5%
                  | Transaction fee
              a.btn-signup.button-clear(href='signup.html')
                span Start free trial
            .chart.last
              .plan-name Premium
              .quantity
                span.dollar $
                span.price 119
                span.period /month
              .specs
                .spec
                  span.variable Unlimited
                  | team members
                .spec
                  span.variable Digital
                  | recurring billing
                .spec
                  span.variable Virtual
                  | online terminal
                .spec
                  span.variable 25
                  | total products
                .spec
                  span.variable No
                  | Transaction fee
              a.btn-signup.button-clear(href='signup.html')
                span Start free trial
            .basic-plan
              .plan-name Basic Plan
              .quantity
                span.dollar $
                span.price 9
                span.period /month
              p.description
                | This plan is great if you're just getting started or just want to test our services.
                a(href='signup.html') Start now
    //Footer Normal
    include partials/lp_footer_normal
