body#home
  header.navbar.navbar-inverse.hero(role='banner')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='index.html') React
      nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
        ul.nav.navbar-nav.navbar-right
          li
            a(href='home')
              | Home
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Showcase
              b.caret
            ul.dropdown-menu
              li
                a(href='features') Features
              li
                a(href='services') Services
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Pricing
              b.caret
            ul.dropdown-menu
              li
                a(href='pricing') Pricing charts
              li
                a(href='charts') Comparison tables
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | More pages
              b.caret
            ul.dropdown-menu
              li
                a(href='about_us') About us
              li
                a(href='contact_us') Contact us
              li
                a(href='invoice') Invoice page
              li
                a(href='docs') API Documentation
              li
                a(href='support') Support
              li
                a(href='status') Status
              li
                a(href='sign_up') Sign Up & Sign In
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Blog
              b.caret
            ul.dropdown-menu
              li
                a(href='blog') Blog
              li
                a(href='blogpost') Blog Post

          //Right Nav Bar
          ul.nav.navbar-nav.navbar-right
            if !user 
             a(href='/login') Login
              if secrets.localAuth
                a(href='/signup') Create Account
            else
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  if user.profile.picture
                    img.profile-image(src='../../img/informatics-logo-rs.png')  
                  else
                    img.profile-image(src='#{user.gravatar(30)}')
                  | #{user.profile.name || user.email || user.id}&nbsp;
                  i.caret
                ul.dropdown-menu
                  li: a(href='/account') My Account
                  li.divider
                  li: a(href='/logout') Logout